In [1]:
import pandas as pd
import numpy as np
import os

In [49]:
print('開始する都道府県コードを入力してください')
start_pref = input()
print(f'開始する都道府県コード : {start_pref}')

print('終了する都道府県コードを入力してください')
finish_pref = input()
print(f'終了する都道府県コード : {finish_pref}')


def subsidy(burden_df):
    #補助金とそれに対応する移転希望者の割合の辞書を作成
    subsidy_dic = {0.3:0.645,
                    0.5:0.646,
                    0.7:0.648,
                    1.0:0.668}

    # 総和を保存するための空のデータフレームを作成
    subsidy_df = pd.DataFrame(columns=['subsidy_ratio', 'transfer_ratio', 'total_subsidy', 'measures_damage_cost','measures_total_cost', 'without_measures_cost'])

    #補助金毎にループ
    for col, frac in subsidy_dic.items():
        #burden_dfにdamage_priceに対する補助する金額の列を追加
        burden_df[col] = burden_df['house_price']*col




        # データフレームから指定された割合で行をランダムに選ぶ
        sample_df = burden_df[['house_price', 'damage_price', col]].sample(frac=frac)

        # 選択された行に含まれる数値の総和を計算
        total_sum = sample_df[col].sum()
        
        
        
        
        #補助金と損害額の総和
        
        #施策なしの損害額
        without_measures_cost = burden_df['damage_price'].sum()
        #施策有の損害額
        measures_damage_cost = without_measures_cost - sample_df['damage_price'].sum()
        #補助金と損害額の総和
        measures_total_cost = measures_damage_cost + total_sum
        
        
        
        

        # 総和を一時的なデータフレームに保存
        temp_df = pd.DataFrame({
            'subsidy_ratio': [f"subsidy_{col * 100}%"],
            'transfer_ratio': [f"transfer_{frac * 100}%"],
            'total_subsidy': [total_sum],
            'measures_damage_cost':[measures_damage_cost],
            'measures_total_cost':[measures_total_cost],
            'without_measures_cost':[without_measures_cost]
            })

        # 結果をメインのデータフレームに追加
        subsidy_df = pd.concat([subsidy_df, temp_df], ignore_index=True)
        

    return subsidy_df

    

%cd "G:/マイドライブ/akiyamalab/卒論/負担率総集編"
n = int(start_pref)
while n <= int(finish_pref):
    burden_path = f'./dev/損害額/{n}_step8_1_output.csv'
    burden_df = pd.read_csv(burden_path, encoding='shift-jis')
    
    subsidy(burden_df)
    
    n += 1

開始する都道府県コードを入力してください
開始する都道府県コード : 33
終了する都道府県コードを入力してください
終了する都道府県コード : 33
G:\マイドライブ\akiyamalab\卒論\負担率総集編

In [50]:
subsidy(burden_df)

,subsidy_ratio,transfer_ratio,total_subsidy,measures_damage_cost,measures_total_cost,without_measures_cost
0,subsidy_30.0%,transfer_64.5%,1.701710e+12,8.050577e+11,2.506768e+12,2.273164e+12
1,subsidy_50.0%,transfer_64.60000000000001%,2.842290e+12,8.045300e+11,3.646820e+12,2.273164e+12
2,subsidy_70.0%,transfer_64.8%,3.989081e+12,8.009014e+11,4.789982e+12,2.273164e+12
3,subsidy_100.0%,transfer_66.8%,5.878401e+12,7.550209e+11,6.633422e+12,2.273164e+12

In [51]:
burden_df

,tatemon_id,x,y,floor,AREA,atype2,total_area,KEY_CODE,estimated_structure,estimated_age,...,cost,dpc_rate,age,dmg_rate,house_price,damage_price,0.3,0.5,0.7,1.0
0,1573,133.797213,34.672247,0,166.805,1364,166.805,331012270,1,4,...,256000,0.036,25.5,0.60,42702080.0,4.452973e+06,12810624.0,21351040.0,29891456.0,42702080.0
1,1574,133.797034,34.671509,0,131.640,1364,131.640,331012270,1,2,...,256000,0.036,8.0,0.60,33699840.0,1.497890e+07,10109952.0,16849920.0,23589888.0,33699840.0
2,1695,133.797357,34.672400,0,96.400,1364,96.400,331012270,1,3,...,256000,0.036,15.5,0.60,24678400.0,7.370945e+06,7403520.0,12339200.0,17274880.0,24678400.0
3,1688,133.797788,34.673460,0,184.710,1364,184.710,331012270,1,3,...,256000,0.036,15.5,0.40,47285760.0,9.415541e+06,14185728.0,23642880.0,33100032.0,47285760.0
4,1694,133.797064,34.672907,0,102.940,1364,102.940,331012270,1,1,...,256000,0.036,5.0,0.40,26352640.0,8.833405e+06,7905792.0,13176320.0,18446848.0,26352640.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333097,19877,133.817980,34.858477,0,253.700,1364,253.700,33681059005,1,6,...,256000,0.036,45.5,0.60,64947200.0,1.948416e+06,19484160.0,32473600.0,45463040.0,64947200.0
333098,19890,133.816148,34.860425,0,107.045,1364,107.045,33681059005,1,3,...,256000,0.036,15.5,0.40,27403520.0,5.456589e+06,8221056.0,13701760.0,19182464.0,27403520.0
333099,19898,133.817725,34.860710,0,118.770,1364,118.770,33681059006,1,1,...,256000,0.036,5.0,0.40,30405120.0,1.019180e+07,9121536.0,15202560.0,21283584.0,30405120.0
333100,19919,133.818189,34.857995,0,162.060,1364,162.060,33681059005,1,4,...,256000,0.036,25.5,0.75,41487360.0,5.407877e+06,12446208.0,20743680.0,29041152.0,41487360.0
333101,19925,133.819081,34.860287,0,108.930,1364,108.930,33681059006,1,1,...,256000,0.036,5.0,0.60,27886080.0,1.402112e+07,8365824.0,13943040.0,19520256.0,27886080.0

In [3]:
%cd "G:/マイドライブ/akiyamalab/卒論/負担率総集編"
burden_path = f'./dev/損害額/33_step8_1_output.csv'
burden_df = pd.read_csv(burden_path, encoding='shift-jis')

G:\マイドライブ\akiyamalab\卒論\負担率総集編

In [5]:
import numpy as np

# 重みの計算（damage_priceが大きいほど重みが小さくなるように設定）
weights = 1 / (burden_df['damage_price'] + 1)  # 0除算を避けるために1を加える
weights /= weights.sum()  # 重みの合計が1になるように正規化

# データの10%を重みに基づいてランダムに抽出
sample_size = int(len(burden_df) * 0.1)  # 抽出する行数（全体の10%）
sampled_data = burden_df.sample(n=sample_size, weights=weights, random_state=1)

sampled_data.head()  # 抽出されたデータの最初の数行を表示

,tatemon_id,x,y,floor,AREA,atype2,total_area,KEY_CODE,estimated_structure,estimated_age,A31_001,cost,dpc_rate,age,dmg_rate,house_price,damage_price
120457,27045,133.948296,34.683880,0,63.220,1364,63.220,331020490,1,7,13,256000,0.036,50.0,0.75,1.618432e+07,6.069120e+05
223911,50700,133.696008,34.629778,0,72.540,1364,72.540,33202209057,1,7,15,256000,0.036,50.0,0.80,1.857024e+07,7.428096e+05
74,9127,133.813706,34.679553,0,132.145,1364,132.145,331012280,1,7,14,256000,0.036,50.0,0.80,3.382912e+07,1.353165e+06
91707,57669,133.908388,34.626896,0,60.885,1364,60.885,331040062,1,4,12,256000,0.036,25.5,0.60,1.558656e+07,1.625366e+06
44246,137710,133.923982,34.666961,0,29.575,1364,29.575,33101040001,1,6,12,256000,0.036,45.5,0.60,7.571200e+06,2.271360e+05

In [7]:
sampled_data

,tatemon_id,x,y,floor,AREA,atype2,total_area,KEY_CODE,estimated_structure,estimated_age,A31_001,cost,dpc_rate,age,dmg_rate,house_price,damage_price
120457,27045,133.948296,34.683880,0,63.220,1364,63.220,331020490,1,7,13,256000,0.036,50.0,0.75,1.618432e+07,6.069120e+05
223911,50700,133.696008,34.629778,0,72.540,1364,72.540,33202209057,1,7,15,256000,0.036,50.0,0.80,1.857024e+07,7.428096e+05
74,9127,133.813706,34.679553,0,132.145,1364,132.145,331012280,1,7,14,256000,0.036,50.0,0.80,3.382912e+07,1.353165e+06
91707,57669,133.908388,34.626896,0,60.885,1364,60.885,331040062,1,4,12,256000,0.036,25.5,0.60,1.558656e+07,1.625366e+06
44246,137710,133.923982,34.666961,0,29.575,1364,29.575,33101040001,1,6,12,256000,0.036,45.5,0.60,7.571200e+06,2.271360e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14110,46030,133.870486,34.645637,0,55.510,1364,55.510,331011370,1,7,12,256000,0.036,50.0,0.60,1.421056e+07,4.263168e+05
137673,66883,133.982000,34.647463,0,70.390,1364,70.390,331020240,1,5,13,256000,0.036,35.5,0.75,1.801984e+07,6.757440e+05
144018,50344,133.962812,34.684315,0,70.495,1364,70.495,33102053104,1,5,12,256000,0.036,35.5,0.60,1.804672e+07,5.414016e+05
51634,117066,133.916795,34.640650,0,96.665,1364,96.665,331011300,1,5,11,256000,0.036,35.5,0.40,2.474624e+07,4.949248e+05
15632,206442,133.797870,34.625252,0,104.640,1364,104.640,33202062000,1,6,13,256000,0.036,45.5,0.75,2.678784e+07,1.004544e+06

In [6]:
weights

0         1.085253e-06
1         3.226271e-07
2         6.556284e-07
3         5.132579e-07
4         5.470825e-07
              ...
333097    2.480271e-06
333098    8.856450e-07
333099    4.741658e-07
333100    8.936224e-07
333101    3.446658e-07
Name: damage_price, Length: 333102, dtype: float64